.avt-swiper-container {
  display: grid;
  /**** width: max-content; */
  /* width: 100vw; */
  width: 100%;
  max-width: 768px;
  margin: auto;
  /* overflow: hidden; */
}

.avt-swiper-instructions {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  z-index: 999;
  /* background: rgba(200, 200, 200, 0.8); */
}

.avt-swiper-instructions-container {
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
}
.avt-swiper-instructions-container img {
  max-width: 300px;
 
}

.instruction-text{
  vertical-align: middle;
}
